.primaryButton {
    background-color: rgb(15, 148, 15);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
body {
    background-color: rgb(37, 37, 40); 
}
h1 {
    font-size: 36px;
    color: white 
}
h4 {
    color: white 
}